<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/header.ejs",{title:"Home"}) %>
</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">MovieStar</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">login</a></li>
                <li><a href="badges.html">Logout</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>

    <div class="contrainert text-center mr-8">
        <a class="waves-effect waves-light btn" href="/google/login">
            <i class="fa-brands fa-google"></i> Login with Google
        </a>

    </div>

</body>

</html>